<h1>List <%=@list.name %></h1>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list.id)  %>
<% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.comment %>
  <%= bookmark.movie.title %>
<% end %>
<%= link_to "Back to all lists", lists_path %>
